<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRONT PAGE</title>
    <link rel="stylesheet" href="/static/index.css"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="header">
        <nav id="navbar">
            <a href="/"><img src="/static/images/LOGOO.jpg"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()" ></i>
                <ul>
                    <li><a href="/" >HOME</a></li>
                    <li><a href="/about" >ABOUT</a></li>
                    <li><a href="/contact" >CONTACT US</a></li>
                    <li><a href="/signin"><button type="submit" class="hero-btn red-btn">Sign In</button></a></li>
                </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

 
        <div class="text-box">
            <h1>Hire the best talent for any job, online.</h1>
            <p>
                Great advertising makes good food taste good food
                taste better.It makes cars run better. It changes
                the perception of everything.
                <br>
                The right name is an advertisement in itself.
            </p>
            <a href="" class="hero-btn">Be the Brand Ambassador</a>
            <a href="" class="hero-btn">Find your Brand Ambassador here</a>
        </div>
    </section> <div class="work">

    <section>
        <h1> Need Something done?</h1>
        <p>Develop trusted relationships and build your own virtual talent 
            bench for quick project turnarounds or big transformations.</p>
        
        <div class="row">
            <div class="work1">
                <h3>Promote Anything</h3>
                <p> It's easy. Simply post about the project you need to promote and 
                    receive competitive bids from Content Creators within minutes.</p>
            </div>
            <div class="work1">
                <h3>Choose Content Creators</h3>
                <p> Whatever your needs, there will be a Content Creator to get it advertised: from fashion, lifestyle,
                     Gamers, food, and travel (and a whole lot more). </p>
            </div>
            <div class="work1">
                <h3>Pay Safely</h3>
                <p> With secure payments and thousands of reviewed professionals to choose from, this website 
                     is the simplest and safest way to get everything advertised.</p>
            </div>
        </div>
    </div>
        </section>
        <section class="features">
                <h1>What's so great about this website?</h1>
                <p>We provide our users with many features</p>
                <div class="row">
                    <div class="features-col">
                        <img src="/static/images/browseprofile.jpg">
                        <div class="layer">
                            <h3>Browse Portfolios</h3>
                        </div>
                    </div>
                    <div class="features-col">
                        <img src="/static/images/viewbids.jpg">
                        <div class="layer">
                            <h3>View Bids</h3>
                        </div>
                    </div>
                    <div class="features-col">
                        <img src="/static/images/payforquality.jpg">
                        <div class="layer">
                            <h3>Pay for Quality</h3>
                        </div>
                    </div>
                    <div class="features-col">
                        <img src="/static/images/trackprogress.jpg">
                        <div class="layer">
                            <h3>Track Progress</h3>
                        </div>
                    </div>
                    <div class="features-col">
                        <img src="/static/images/livechat.jpg">
                        <div class="layer">
                            <h3>Live Chat</h3>
                        </div>
                    </div>
                    <div class="features-col">
                        <img src="/static/images/247support.jpg">
                        <div class="layer">
                            <h3>24/7 Support</h3>
                        </div>
                    </div>
                </div>
        </section>
        <section class="Categories">
            <h1>Categories</h1>
            <div class="row">
                    <div class="categories-col">
                        <img src="/static/images/fashion.jpg">
                        <h3>Fashion</h3>
                    </div>
                    <div class="categories-col">
                        <img src="/static/images/food.jpg">
                        <h3>Food</h3>
                    </div>
                    <div class="categories-col">
                        <img src="/static/images/music.jpg">
                        <h3>Music</h3>
                    </div>
                    <div class="categories-col">
                        <img src="/static/images/lifestyle.jpg">
                        <h3>Lifestyle</h3>
                    </div>
                    <div class="categories-col">
                        <img src="/static/images/fitness.jpg">
                        <h3>Fitness</h3>
                    </div>
                    <div class="categories-col">
                        <img src="/static/images/sport.jpg">
                        <h3>Sport</h3>
                    </div>
                    <div class="categories-col">
                        <img src="/static/images/finance.jpg">
                        <h3>Finance</h3>
                    </div>                   
                </div>
        </section>
        <section class="comments">
            <h1>
                What our Users Says
            </h1>
            <p>

            </p>
            <div class="row">
                <div class="comment-col">
                    <img src="/static/images/user1.jpg">
                <div>
                <p>
                    Review of user1
                </p>
                <h3>Minny Mouse</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>
        <div class="comment-col">
            <img src="/static/images/user2.jpg">
        <div>
        <p>
            Review of user2
        </p>
        <h3>Mickey Mouse</h3>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
    </div>
</div>
        </section>
        <section class="register">
            <h1>
                Sign In Now
                <br><h3> anywhere from the world </h3>
            </h1>
            <a href="" class="hero-btn">SIGN IN</a>
        </section>
        <section class="footer">
            <h4>About Us</h4>
            <p> blah blah blah blah blah</p>
            <div class="icons">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-linkedin"></i>
            </div>
        </section>

<script>
    var navLinks = document.getElementById("navLinks");
    function showMenu(){
        navLinks.style.right ="0";
    }
    function hideMenu(){
        navLinks.style.right ="-200";
    }
    window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>
</body>
</html>