{% load  static  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static '/signup.css'%}">
        <link rel="stylesheet" href="{% static '/index.css'%}"> 
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>
<body>
        <nav id="navbar">
            <a href="/index"><img src="{% static '/images/LOGOO.jpg'%}"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()" ></i>
                <ul>
                    <li><a href="/index" >HOME</a></li>
                    <li><a href="/about" >ABOUT</a></li>
                    <li><a href="/contact" >CONTACT US</a></li>
                    <li><a href="/signin"><button type="submit" class="hero-btn red-btn">Sign In</button></a></li>
                </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
    

    <main>
        <!-- Content changes here -->
        <div class="container">
            <h2>Sign Up</h2>
            {% for message in messages %}
                    <h3 style="color:red";>{{message}}</h3>
                    {% endfor %}  
                <form action="/signup/" class="form-container" method='POST'>
                  {% csrf_token %}
                    <label for="name">Name</label>
                    <input type="text" name="name" id="" placeholder="Name">
                           
                    <label for="username">username</label>
                    <input type="text" name="username" id="" placeholder="username">
                         
                    <label for="email">Email</label>
                    <input type="email" name="email" id="" placeholder="Email">
    

                    <label for="password">Password</label>
                    <input type="password" name="password" id="" placeholder="password">
                    
                    <button type="submit">Sign Up</button>
                </form>
                
            
        </div>
        <!-- Content changes end here -->
    </main>
</body>
</html>