{% load socialaccount %}
{% providers_media_js %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/signin.css" crossorigin="anonymous">
    <script src="/static/signin.js"></script>
    <link rel="stylesheet" href="/static/index.css"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
        integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <title>Registration</title>
    <style>
        body{
            
            background-color: grey;
        }
        #container{
            left: 35%;
            height: 550px;
        }
        .but:hover{
    background-color: black;
}
    </style>
</head>

<body>

<nav id="navbar">
            <a href="/"><img src="/static/images/LOGOO.jpg"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()" ></i>
                <ul>
                    <li><a href="/index" >HOME</a></li>
                    <li><a href="/about" >ABOUT</a></li>
                    <li><a href="/contact" >CONTACT US</a></li>
                    <li><a href="/signin"><button type="submit" class="hero-btn red-btn">Sign In</button></a></li>
                </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        
    </section>
    <div class="container mt-5" id="container">
        <div class="form-container sign-up-container mt-2">
            <form action="#">
                <h1 class="font-weight-bold">Create Account</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <input type="text" placeholder="Name" name="name" id="name" />
                <input type="email" placeholder="Email" name="email" id="email"/>
                <input type="password" placeholder="Password" name="password" id="password" />
                <button class="btn btn-info btn-rounded">Sign up</button>
            </form>
        </div>

        <div class="form-container sign-in-container">
            <form action="/signin/" method="POST">
            {% csrf_token %}
                <h1 class="font-weight-bold">Sign in</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>

                    <a class="btn btn-large btn-primary " href="{% provider_login_url 'google' %}">
                        <i class="fab fa-google" style='font-size:24px' aria-hidden="true"></i>

                        <a href="{% provider_login_url 'facebook' %}" class="social"><i
                                class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your account</span>
                <input type="text" placeholder="Username Or Email" name="username" id="username" />
                <input type="password" placeholder="Password" name="password" id="password" /><br>
                {% for message in messages %}
                 <h3 style="color:red";>{{message}}</h3>
                 {% endfor %}

                <button class="but">Sign In</button>
            </form>
            
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1 class="font-weight-bold">Good to see you!<h1>
                            <p>You already have an account? <br>Sign in!</p>
                            <button class="but" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1 class="font-weight-bold" style="margin-left: 50px;">Hello, Friend!</h1>
                    <p>You don't have account yet? Don't worry! You still can join us</p>
                    <a href="/signup" class="but" style="margin-left: 50px;" id="signUp">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>