<<<<<<< HEAD
body{
    
  margin: 0px;
  padding:0px;
  font-family: sans-serif;
}
ul{
  list-style:none;
}
a{
  text-decoration:none;
}

.About{
  width:700px ;
  height:550px;
  background-color: whitesmoke; 
  display: inline-block;
  margin-left: 80px;
  padding: 10px 10px 20px 10px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

.portfolio{
  width:700px ;
  height:250px;
  background-color: whitesmoke; 
 
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 10px 20px 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)

}
.ImportantFigures{
  width:700px ;
  height:250px;
  background-color: whitesmoke; 
 
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 10px 20px 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)

}
.BackgroundandQualifications{
  width:700px ;
  height:250px;
  background-color: whitesmoke; 
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 10px 20px 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

.Message{
  width: 350px;
  height: 400px;
  display: inline-block;
 
  margin-left: 100px;
  padding: 15px 25px;
  box-sizing: border-box;
  
  margin: 10px 15px;
  
  background-color: cornsilk;
  box-shadow: 2px 2px 2px 1px orange;
}
.Reviews{
  width: 350px;
  height: 500px;
  display: inline-block;
 
  margin-left: 100px;
  padding: 15px 25px;
  box-sizing: border-box;
  
  margin: 10px 15px;
  
  background-color: cornsilk;
  box-shadow: 2px 2px 2px 1px orange;
}
.column {
  float: right;
 
}
.row {
  display: flex;
}
.user img {
  border-radius: 50%;
  border:.7rem orange;
}
.user .name{
  font-size: 30px;
  color:rgb(29, 26, 26);
  margin-left: 20px;
  margin-top: -2px;
  
}

.user .post{
  display: center;
  font-size: 20px;
  margin-top: -15px;
  color:orange;
  margin-left: 20px;
}

.info{
  margin-left: 50px; 
  text-align: leftt;
  width:150;
  font-size: 15px;
}
.portfolio .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding:2rem 0;
}
.portfolio .box-container .box{
  height: 140px;
  width:  140px;
  border-radius: 1rem;
  margin:2rem;
  overflow: hidden;
  cursor: pointer;
  margin-top: -20px;
}

.portfolio .box-container .box img{
  height:100%;
  width:100%;
  object-fit: cover;
 
}

.portfolio .box-container .box:hover img{
  transform: scale(1.2);
}

.ImportantFigures .column .counter .box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding:2rem 0;
  width:90px;
  background:#222;
  text-align: center;
  padding: 20px;
  margin:20px;
  float: right;
}

.ImportantFigures .column .counter .box span{
  font-size: 20px;
  color: orange;
}

.ImportantFigures .column .counter .box h3{
  font-size: 20px;
  color:#fff;
}





=======
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* color palette 
ULTRA DARK COFFEE BROWN #331806
VERY DARK ANTIQUE MAUVE #552331
VERY DARK ROSE #7a002e
DARK CARNATION #c13955
AQUAMARINE #2c7862
DARK TEAL GREEN #005245
*/
body{
  overflow-x: hidden;
}
.container{
  position: relative;
  width: 100%;
}
.navigation{
  position: fixed;
  width: 60px;
  height: 100%;
  background: url(/static/images/palettee.jpg);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active{
  width: 300px;
}
.navigation ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation ul li{
  position: relative;
  width: 100%;
  list-style: none;
}
.navigation ul li:hover{
  background: #7a002f9a
  ;
}
.navigation ul li:nth-child(1){
  margin-bottom: 20px;
}
.navigation ul li:nth-child(1):hover{
  background: transparent;
}
.navigation ul li a{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}
.navigation ul li a .icon{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  white-space: nowrap;
}
.navigation ul li a .title{
  margin-top: 20px;
}
.title img{
  padding-right: 85px;
  width: 200px;
  height: 50px;
  display: block;
  position: relative;
}
.main{
  position: relative;
  width: calc(100% - 60px);
  left: 60px;
  min-height: 100vh;
  background: #f5f5f5;
  transition: 0.5s;
}
.main.active{
  width: calc(100% - 300px);
  left: 300px;
}
.main .topbar{
  width: 100%;
  background: #552331;
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle{
  position: relative;
  width: 60px;
  height: 60px;
  background: #552331;    ;
  cursor: pointer;
}
.toggle::before{
  content: '\f0c9';
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: 24px;
  text-align: center;
  color: #fff;
}
.search{
  position: relative;
  width: 400px;
  margin: 0 10px;
}
.search label{
  position: relative;
  width: 100%;
}
.search label input{
  width: 100%;
  height: 40px;
  border-radius: 20px;
  padding: 5px 20px;
  padding-left: 35px;
  outline: none;
  border: 1px solid #552331ee;
}
.search label .fa{
  position: absolute;
  left: 15px;
  top: 4px;
}
.user{
  position: relative;
  min-width: 50px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.user img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardBox{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
}
.cardBox .card{
  position: relative;
  background: url(/static/images/palettee.jpg); 
  padding: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.cardBox .card .numbers{
  position: relative;
  font-size: 2em;
  font-weight: 500;
  color: #fff;
}
.cardBox .card .cardName{
  color: rgb(153, 153, 153);
}
.cardBox .card .iconBox{
  font-size: 2.5em;
  color: #c13955;
}
.details{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2fr 1fr;
}
.details .recentProjects{
  position: relative;
  display: grid;
  min-height: 850px;
  background-image: url(/static/images/palettee.jpg);
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: right;
  background-size: cover;
  padding: 20px;
}
.cardHeader{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2{
  font-weight: 600;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 0;
}
.btn{
  position: relative;
  padding: 5px 10px;
  background: #7a002f9a;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}

.details table{
  width: 100%;
  border-collapse: collapse;
}
.details table thead{
  background: #ffffff67;
}
.details table thead td{
  color: #fff;
  font-weight: 600;
}
.details .recentProjects table tr{
  border-bottom: 1px solid rgba(230, 227, 227, 0.1);
}
.details .recentProjects table tbody tr:last-child{
  border: none;
}
.details .recentProjects table tbody tr:hover{
  background: #7a002f9a;
  color: #fff;
}
.details .recentProjects table tr{
  color: #fff;
  padding: 9px 5px;
}
.details .recentProjects table thead tr td:last-child,
.details .recentProjects table tbody tr td:last-child{
  text-align: right;
}
.details .recentProjects table thead tr td:nth-child(2),
.details .recentProjects table tbody tr td:nth-child(2){
  text-align: right;
  padding-right: 20px;
}
.details .recentProjects table thead tr td:nth-child(3),
.details .recentProjects table tbody tr td:nth-child(3){
  text-align: right;
  padding-right: 20px;
}
.Pay{
  position: relative;
  padding: 2px 4px;
  background: #c13955;
  color: #fff;
  border-radius: 4px;
  font-weight: 300;
  letter-spacing: 1px;
}
.Due{
  background: #005245;
}
.details .promoReq{
  position: relative;
  display: grid;
  min-height: 530px;
  background: url(/static/images/palettee.jpg);
  padding: 20px;
}
.details .promoReq .imgBox{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.details .promoReq .imgBox img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.name{
  font-size: 14px;
  color: #b9b8b8;
}
.details .promoReq table tr h4{
  color: #fff;
}
.details .promoReq table tr:hover{
  background: #ffffff67;
  color: #fff;
}
.details .promoReq table tr td{
  padding: 7px 10px;
}
.bttn-a{
  position: relative;
  padding: 2px 4px;
  background: #c13955;
  color: #fff;
  border-radius: 4px;
  font-weight: 300;
  letter-spacing: 1px;
}
.bttn-r{
  position: relative;
  padding: 2px 4px;
  background: #005245;
  color: #fff;
  border-radius: 4px;
  font-weight: 300;
  letter-spacing: 1px;
}
>>>>>>> f77854167c89ab14cd9775b56c8a053dfa31446e
