@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'sacramento','montserrat', Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background: #7e7e7e;
    background: linear-gradient(135deg, #7e7e7e 0%,#3f3f3f 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #EFEFEF;
    display: flex;
    padding: 0 4rem;
    height: 5rem;
    align-items: center;
}

.logo {
    margin: 0 auto 0 0;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #FCFCFC;
    width: 25%;
    margin: -0.5em auto;
    border-radius: 10px;
    height: 38rem;
    overflow: auto;
}
.container h2 {
    margin: 2rem auto 0 auto;
    font-weight: bold;
    font-size: 2.2rem;
}

.container form {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    margin: auto 0;
    overflow: auto;
    
}

label {
    font-weight: bold;
    text-align: left;
    margin: 1rem 0 .5rem .5rem;
    font-size: 1em;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}


button {
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    background-color: orange;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 14px 35px;
    letter-spacing: 1px;
    text-transform: uppercase;

}

hr {
    margin: auto 0 0 ;
}
p {
    margin: 1rem auto 1rem auto;
}

