<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@{{request.user.username}} - Hypeit.com</title>
  <link rel="stylesheet" type="text/css" href="/static/Profile_Page.css">
</head>

<body>

  <div class=" box Background">
    <div style="width:100% ;height:200px;position: absolute;background-color: orange;"></div>
  </div>

  <div class="row">
    <div class="column">
      <div class="card">
        <div class="About">
          <p style="margin-top: 200px"> </p>
          <h1 style=" margin-left: 30px ;">About Me</h1>

          <div class="user">
            <div class="row">
              {% if user_id.profile.name %}
              <div class="column">
                <img src="C:\Users\smriti\Desktop\0.jfif" alt="Avatar" style=" margin-left: 10px ;width:150;">

                <h3 class="name">{{ user_id.profile.name }}</h3>
                <p class="post">Front end developer</p>
              </div>
              {% for i in pro %}
              <div class="column">
                <p class="Bio" style=" margin-left: 50px; text-align: leftt;width:150;" >{{ i.description}} .</p>
                <h3 class="title" style=" margin-left: 50px; text-align: leftt;width:150; font-size: medium;">contact
                  info</h3>

                <div class="info">
                  <p> <i class="fas fa-envelope"></i>{{ user_id.email }}</p>
                  <p> <i class="fas fa-phone"></i>{{ user_id.profile.contact}} </p>
                  <p> <i class="fas fa-map-marker-alt"></i> mumbai, india - 400104. </p>
                </div>
                {% endfor %}
              </div>
              {% endif %}
            </div>
          </div>

        </div>

        <div class="portfolio">
          <h3 style=" margin-left: 20px;">Portfolio</h3>
          <div class="box-container">

            <div class="box">
              <img src="images/img1.jpg" alt="">
            </div>

            <div class="box">
              <img src="images/img2.jpg" alt="">
            </div>

            <div class="box">
              <img src="images/img3.jpg" alt="">
            </div>
          </div>

        </div>

        <div class="ImportantFigures">
          <h3 style=" margin-left: 20px;">Important Figures</h3>
          <div class="column">
            <div class="counter">

              <div class="box">
                <span>2+</span>
                <h3>years of experience</h3>
              </div>

              <div class="box">
                <span>100+</span>
                <h3>porject completed</h3>
              </div>

              <div class="box">
                <span>430+</span>
                <h3>happy clients</h3>
              </div>

              <div class="box">
                <span>12+</span>
                <h3>awards won</h3>
              </div>

            </div>
          </div>
        </div>

        <div class="BackgroundandQualifications">
          <h3 style=" margin-left: 20px;">Background and Qualifications</h3>

          <div class="row">
            <div class="column" style="float: left;">
              <div class="info">

                <h4> <span> Age : </span> 20 </h4>
                <h4> <span> Qualification : </span> B.Tech </h4>
                <h4> <span> Post : </span> front end developer </h4>
                <h4> <span> Language : </span> Hindi & English</h4>
                <a href="#"><button class="btn"> Download CV <i class="fas fa-download"></i> </button></a>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <h5 style="color: orange; font-size: 30px;">Get Free Quotes</h5>
        <div class="Message">
          <form action="/action_page.php">
            <p> </p><br>

            <h1 style>Start the conversation!</h1>
            <textarea name="Message" cols="40" rows="10" style="border-color: orange;"></textarea><br>
            <input type="button" value="Send">
          </form>
        </div>
        <div>
          <div class="Reviews">
            <h1>Reviews</h1>
            <div class="box-container">

              <div class="box">
                <i class="fas fa-graduation-cap"></i>

                <h3><span>Mama Earth</span></h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id autem
                  provident laborum quae, distinctio eaque temporibus!</p>
              </div>

              <div class="box">
                <i class="fas fa-graduation-cap"></i>

                <h3><span>Lotus</span></h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id autem
                  provident laborum quae, distinctio eaque temporibus!</p>
              </div>
            </div>


          </div>
        </div>
      </div>

</body>

</html>