<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>PromoReq | HypeIt</title>
  <link rel="stylesheet" href="/static/dashboard.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="wrapper">
    <div class="top_nav">
        <div class="left">
          <div class="logo"><p><img src="/static/images/LOGOO.jpg"></p></div>
      </div> 
      <div class="right">
        <div class="user">
          <a href="#">
          <img src="images/img6.jpg">
        </a>
      </div>
      </div>
    </div>
  <div class="nab-bar">
  <div class="wrap">
    <div class="nav">
      <ul>
        <a href="{% url 'cust_dashboard' %}"><li>Dashboard</li></a>
        <a href="{% url 'request' %}"><li>Requests</li></a>
        <a href="{% url 'inbox' %}"><li>Inbox</li></a>
        <a href="#"><li>Browse</li></a>
      </ul>
    </div>
  </div>
  </div>
  <div class="dashboard">
    <div class="project-details">
        <div class="details">
            
            <div class="promoReq">
                <div class="cardHeader">
                    <h2>Promotional Requests</h2>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td width="60px"><div class="imgBox"><img src="images/img1.jpg"></div></td>
                            <td><span class="name"><h4>Naina Majumdar<br></h4>New Delhi</span></td>
                            <td><span class="bttn-a">Accept</span></td>
                            <td><span class="bttn-r">Reject</span></td>
                        </tr>
                        <tr>
                            <td width="60px"><div class="imgBox"><img src="images/img2.jpg"></div></td>
                            <td><span class="name"><h4>Mitali Seth<br></h4>Varanasi</span></td>
                            <td><span class="bttn-a">Accept</span></td>
                            <td><span class="bttn-r">Reject</span></td>
                        </tr>
                        <tr>
                            <td width="60px"><div class="imgBox"><img src="images/img3.jpg"></div></td>
                            <td><span class="name"><h4>Ishita<br></h4>Allahabad</span></td>
                            <td><span class="bttn-a">Accept</span></td>
                            <td><span class="bttn-r">Reject</span></td>
                        </tr>
                        <tr>
                            <td width="60px"><div class="imgBox"><img src="images/img4.jpg"></div></td>
                            <td><span class="name"><h4>Ismriti Gupta<br></h4>Jaipur</span></td>
                            <td><span class="bttn-a">Accept</span></td>
                            <td><span class="bttn-r">Reject</span></td>
                        </tr>
                        <tr>
                            <td width="60px"><div class="imgBox"><img src="images/img5.jpg"></div></td>
                            <td><span class="name"><h4>John <br></h4>Srinagar</span></td>
                            <td><span class="bttn-a">Accept</span></td>
                            <td><span class="bttn-r">Reject</span></td>
                        </tr>
                        <tr>
                            <td width="60px"><div class="imgBox"><img src="images/img6.jpg"></div></td>
                            <td><span class="name"><h4>Monica<br></h4>Dehradoon</span></td>
                            <td><span class="bttn-a">Accept</span></td>
                            <td><span class="bttn-r">Reject</span></td>
                        </tr>
                        <tr>
                            <td width="60px"><div class="imgBox"><img src="images/img7.jpg"></div></td>
                            <td><span class="name"><h4>Alisha<br></h4>Bangalore</span></td>
                            <td><span class="bttn-a">Accept</span></td>
                            <td><span class="bttn-r">Reject</span></td>
                        </tr>
                        <tr>
                            <td width="60px"><div class="imgBox"><img src="images/img8.jpg"></div></td>
                            <td><span class="name"><h4>Chandler<br></h4>Varanasi</span></td>
                            <td><span class="bttn-a">Accept</span></td>
                            <td><span class="bttn-r">Reject</span></td>
                        </tr>
                        <tr>
                            <td width="60px"><div class="imgBox"><img src="images/img9.jpg"></div></td>
                            <td><span class="name"><h4>Joey<br></h4>Kolkata</span></td>
                            <td><span class="bttn-a">Accept</span></td>
                            <td><span class="bttn-r">Reject</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        </div>  
        </body>
        </html>